.font-size-50 {
	font-size: 50px;
}

.vh-80 {
	height: 80vh;
}

.text-align-center {
	text-align: center;
}

.app-icon {
	width: 130px;
	height: 130px;
}

.btn, .btn-group {
	height: 75px;
	width: 100%;
	max-width: 400px;
}

.login-form {
	width: 400px;
	max-width: 100%;
}

.btn-success {
	background-color: #44AF69 !important;
	border-color: #44AF69 !important;
}

.btn-danger {
	background-color: #93032E !important;
	border-color: #93032E !important;
}

.btn-click {
	cursor: pointer;
}

.fa-walk {
	position: relative;
}
.fa-walk:after {
	background: #44AF69;
	bottom: 0;
	content: '';
	height: .435em;
	position: absolute;
	right: 0;
	width: .285em;
}

.fa {
	font-size: 22px !important;
}

.no-icon {
	font-size: 35px !important;
}

.full-width-button {
	width: 100%;
	max-width: 100% !important;
	height: 50px;
}

.d-flex {
	display: flex
}

.d-block {
	display: block;
}

.flex-column {
	flex-direction: column
}

.justify-content-center {
	justify-content: center
}

.margin-right {
    margin-right: 20px;
}

.user-card {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin: 5px 20px !important;
	padding: 10px;
	line-height: 40px;
	font-size: 40px;
}

.estimated-time {
	padding: 10px;
	line-height: 40px;
	font-size: 40px;
}

.full-height {
	height: 100% !important;
}

.inline-grid {
	display: inline-grid;
}

.no-margin {
	margin: 0 !important;
}